* {
    margin: 0;
    padding: 0;
}

header {
    background-color: #1F2937;
}

nav {
    font-size: 24px;
}

.logo {
    color: #F9FAF8;
    display: flex;
    justify-content: space-around;
}

nav h1 {
    padding: 20px 0;
}

nav ul {
    display: flex;
    padding: 20px 0;
}

nav ul li {
    list-style-type: none;
    margin: 0 15px;
}

nav ul li a {
    color: #F9FAF8;
    text-decoration: none;

}

.desc {
    display: flex;
    justify-content: space-evenly;
    margin: 125px 0;
    padding: 0 0 125px 0;
}

.text {
    margin: 0 0 0 40px;

}

.text h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.text p {
    font-size: 18px;
    color: #E5E7EB;
}

.text h2 {
    font-size: 24px;
    color: #F9FAF8;
}

.image img {
    height: 207px;
    width: 327px;
    margin: 0 37px;
    padding: 0 31px 0 0px;
}